<!-- <div *ngFor="let item of [1,2,3]">
<p>Number is :{{item}}</p>
</div> -->
<!-- <div *ngFor="let p of products;let i=index">
  
    <div class="product-container" [ngStyle]="{background:p.stock>1?'#00FFFF':'brown'}">
        <div class="image-container">
            <img [src]="p.images" alt="" style="max-height:50px;max-width:50px">
        </div>
    </div>
    <div class="name-container">
       Title: <h4>{{p.title}}</h4>
    </div>
    <div class="detailContainer">
        <div class="details" >
            Description {{p.description}}
        </div>
        <div class="details">
           Price {{p.price}}
        </div>

        <div class="details">
                DiscountPercentage {{p.discountPercentage
            }}
        </div>
        <div class="details">
           Rating {{p.rating
            }}
        </div>
        <div class="details" [ngStyle]="{color:p.stock>1 ? 'Green':'Red'}">
           Stock {{p.stock
            }}
        </div>
        <div class="details">
            brand {{p.brand
            }}
        </div>
        <div class="details">
            Category {{p.category
            }}
        </div>

<div><img [src]="p.thumbnail" alt=""></div>
    </div>
    <div>
        <button class="btn btn-success mx-2">Products</button>
         <button *ngIf='p.stock>1' class="btn btn-warning">buy</button>
    </div>
</div> -->